@import "../../variables";

.button-container {
    min-width: 2rem;
    width: auto;
    letter-spacing: 0.5px;
    line-height: 1;
    padding: 0.75rem 1.6rem;
    font-size: 1em;
    background-color: $default-red;
    color: $sub-color;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: 2px solid $default-red;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  
    &:hover {
      background-color: $dark-red;
      border: 2px solid $dark-red;
    }
  
    &.google-sign-in {
      background-color: $sub-color;
      border: 2px solid $main-color;
      color: $main-color;
  
      &:hover {
        background-color: $main-color;
        color: $sub-color;
      }
    }
  
    &.inverted {
      background-color: $main-color;
      color: $sub-color;
      border: 2px solid $main-color;
  
      &:hover {
        background-color: $default-red;
        color: $sub-color;
        border: 2px solid $default-red;
      }
    }
  }
  