@import "../../variables";

.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $main-color;
    background-color: $sub-color;
    top: 69px;
    right: 40px;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-monsters {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgb(197 0 9 / 90%);
      }
      &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
          border-radius: 10px;
      }
      &::-webkit-scrollbar {
          width: 6px;
      }
    }
  
    button {
      margin-top: auto;
    }
  }
  