
@import "../../variables";

.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    background: url(#{$default-domain}/images/stat-block-top-texture.png), url(#{$default-domain}/images/paper-texture.png);
    background-position: top;
    background-repeat: no-repeat, repeat;
    background-size: 100% auto;
    border: 2px solid #7f6c3c;
    box-shadow: 0 0 5px #333333;
    padding: 1rem;

    h2 {
        margin: 0.6rem 0;
    }
}